ion-content {
  --background: rgb(66, 182, 190);
  background-image: radial-gradient(circle, rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size: 10px 10px; /* Tamaño de los puntos */
  overflow: hidden;
}

.container {
  margin-top: 2rem;
}

.noFoto {
  margin-top: 1rem;
}

.logo {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.botones {
  --background: #6270dc;
  color: #fff;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border: 3px groove #fff;
  border-radius: 10px;
}

.items {
  margin-bottom: 10%;
  --background: #f2f4f8;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
}

.ionButton {
  margin-top: 3rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #6270dc;
  border: 3px groove rgb(255, 255, 255);
  color: rgb(255, 248, 248);
  text-shadow: 1px 1px #000;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(0, 0, 0);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ionButton:hover {
  background: rgb(2, 2, 2);
  color: #fff;
  cursor: pointer;
}

ion-input {
  --placeholder-color: #000;
  color: #000;
}

ion-input[type="password"]::part(native) {
  color: #000;
}
