<ion-content scroll-y="false">
  <div class="button-container">
    <ion-button class="full-button" expand="full" id="beautiful-things-button" routerLink="/cosaslindas">
    </ion-button>
    <ion-label>COSAS LINDAS</ion-label>
    <ion-button class="full-button" expand="full" id="ugly-things-button" routerLink="/cosasfeas" >
    </ion-button>
    <ion-label>COSAS FEAS</ion-label>
    <ion-button class="exit-button" (click)="btnSalir()">
      <ion-label>SALIR</ion-label>
    </ion-button>
  </div>
</ion-content>
